#questionare{
    padding: 0px 15px 30px;
    @include breakpoint (medium up){
        padding: 0px 40px 50px;
      }
      @include breakpoint (xlarge up){
        padding: 00px 0px 50px;
      }
      h1{
        font-size: 25px;
        font-weight: 700;   
        padding-bottom: 30px;
        padding-top: 0;
        @include breakpoint (medium up){
            padding-bottom: 40px;
            font-size: 35px;
        }
        @include breakpoint (large up){
            padding-bottom: 50px;
            font-size: 40px;
        }
        @include breakpoint (xlarge up){
            padding-bottom: 60px;
            font-size: 45px;
        }
    }
    .question-enter{
        font-size: 12px;
        font-family: 'Bahnschrift';
        color: #707070;
        max-width: 760px;

        @include breakpoint (medium up){
            font-size: 14px;
          }
          @include breakpoint (large up){
            font-size: 18px;
            margin-bottom: 10px;
          }
    }

    .question-form{
        padding-top: 20px;
        width: 100%;
        @include breakpoint (large up){
            max-width: 750px;
          }
        .question-paragraph, .question-paragraph-more {
            font-size: 14px;
            font-family: 'Bahnschrift';
            color: #707070;
            font-weight: 700;
            padding-bottom: 20px;
            padding-top: 10px;
            @include breakpoint (large up){
                font-size: 16px;
              }

            &:first-child(){
                padding-top: 0;
            }
        }
        .question-paragraph-more{
            margin-top: 20px;
        }
        .question-table-wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 25px;
            .col-name{
                font-size: 14px;
                font-family: 'Bahnschrift';
                font-weight: 700;
                color: #707070;
                padding-bottom: 22px;
            }
            .table-name-column{
                flex: 0 0 31%;
                @include breakpoint (medium up){
                    flex: 0 0 24%;
                  }
                @include breakpoint (large up){
                    flex: 0 0 25%;
                  }
                p{
                    font-size: 12px;
                    font-family: 'Bahnschrift';
                    color: #707070;
                    padding-bottom: 20px;
                    @include breakpoint (large up){
                        font-size: 16px;
                      }
                    &:last-of-type{
                        padding-bottom: 0;
                    }
                }
            }
            .table-inputs-column{
                flex: 0 0 5%;
                justify-content: center;
                @include breakpoint (medium up){
                    flex: 0 0 10%;
                    max-width: 88px;
                  }
                .col-name{
                    text-align: center;
                    font-size: 10px;
                    @include breakpoint (medium up){
                        font-size: 14px;
                      }
                }
                label{
                    height: 39px;
                    margin: 0 auto;
                    padding: 0;
                    width: 15px;
                    @include breakpoint (large up){
                        height: 46.5px;
                      }
                }
                &:nth-child(3){
                    .col-name{
                        padding-bottom: 7px;
                        @include breakpoint (medium up){
                            padding-bottom: 0;
                        }
                    }
                }
                &:last-child{
                    flex: 0 0 9%;
                    @include breakpoint (medium up){
                        flex: 0 0 13%;
                      }
                }
            }
        }
        .more-exp{
            border-radius: 8px;
            min-height: 76px;
            padding-top: 12px;
            padding-left: 17px;
            font-size: 16px;
            font-family: 'Bahnschrift';
            opacity: .5;
            margin: 0;
        }
        .btn{
            margin-left: auto;
            margin-top: 30px;
            display: block;
            cursor: pointer;
            font-size: 14px;
            font-weight: 900;
            @include breakpoint (large up){
              font-size: 16px;
            }
        }
    }





    .container {
        display: block;
        position: relative;
        padding-left: 31px;
        margin-bottom: 14px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 12px;
        font-family: 'Bahnschrift';
        color: #707070;
        @include breakpoint (large up){
            font-size: 14px;
          }
      }
      
      /* Hide the browser's default radio button */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        margin-top: 2px;
        background-color: transparent;
        border-radius: 50%;
        border: 1.2px solid #707070;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the radio button is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #D2CC7A;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .container .checkmark:after {
            top: 3px;
            left: 4px;
            width: 5px;
            height: 6px;
          border-radius: 50%;
          background:transparent;
      }
}


